script(type="text/javascript" src="./js/header.js" )
script(src=jsPath + "jquery.min.js")
script(type="text/javascript" src="./js/plugins/slick.min.js")

if main 
  script(src=jsPath + "main.js" defer)
  script(src=jsPath + "form.js" defer)

if category   
    script(src=jsPath + "form.js" defer)

if one
  script(src=jsPath + "form.js" defer)
  script(src=jsPath + "./plugins/jquery.ez-plus.js" defer )
  script(src=jsPath + "swiper.min.js" defer)
  script(src=jsPath + "one.js" defer)
  script(src=jsPath + "main.js" defer)

if about
  script(src=jsPath + "about.js" defer)

if contacts
  script(src=jsPath + "contacts.js" defer)
  script(src=jsPath + "form.js" defer)

if news
  script(src=jsPath + "form.js" defer)

if contacts
  script(src=jsPath + "contacts.js" defer)
  script(src=jsPath + "form.js" defer)

if article
  script(src=jsPath + "form.js" defer)

if videogallery
  script(src=jsPath + "plugins/jquery.magnific-popup.min.js" defer)
  script(src=jsPath + "videogallery.js" defer)

if two
  script(src=jsPath + "swiper.min.js" defer)
  script(src=jsPath + "two.js" defer)